fastapi
uvicorn[standard]
pydantic
python-multipart
onnxruntime
rdkit-pypi
requests
numpy
scikit-learn
biopython
tqdm
diskcache
transformers
pandas
scipy
datasets
evaluate
huggingface-hub
accelerate
pillow
